<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-12-10T12:15:33Z</date>
	<key>WorkspacePath</key>
	<string>/Users/workspace_sun/Pursue_workspace/QNRTC-API-Examples/Api-Examples-iOS/Api-Examples-iOS.xcworkspace</string>
</dict>
</plist>
